<h1><%= @destination.name %></h1>

<h3> Recent posts </h3>
<% @recent_posts.each do |post|%>
    <li><%= link_to post.title, post_path(post) %></li> <br>
<% end %>

<h3> Average age: <%= @average %> </h3>

<h3> Featured Post </h3>
<%= link_to @featured_post.title, post_path(@featured_post)%>